.HomeScreen{
    width: 100vw!important;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden!important;
}
.footertoping{
    background: var(--wp--preset--gradient--blush-light-purple);
}
.MainBootom{
    height: auto;
    background: #c3daf2;
}