.NavHeader{
    /* background: #ffffff!important; */
    background: var( --wp--preset--gradient--pale-ocean);
}
.offcanvasBg{
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}
.offcanvasBg .nav-item{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}
.Navlogo{
    font-weight: 900;
}